body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 65px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

table {
    margin: 10px;
    width: 60%;
    background-color: white;
    border: 1px solid #828080;
    border-radius: 8px;
}

th, td {
    padding: 25px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

td a {
    color: #007bff;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}
